/* Estilos para todo el proyecto */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

body {
    background-image: url(/static/img/fondo.jpg);
    background-size: cover;
}
.stock {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-left: 60px;
}
.link-front{
    margin-bottom: 50px;
}
.public{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-left: 41%;
    row-gap: 8px;
}
.contenedor-centrado {
    display:flex;
    width: 100%;
    justify-content: left;
   
}
.contenedor-retornomenu{
    display: flex;
    justify-content: center;
}

.logo-centrado{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 120px;
}
.logmenu{
    width: 10%;
}

.navbar-index{
    margin: 0;
    padding: 0;
    
    top: 0;
    width: 100vw;
    height: 100px;
    background-color: #17690c;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    
    overflow: hidden;
    margin-bottom: 20px;
    position: fixed !important; 
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
.navbaritems{
    list-style: none;
    padding: 0;
    display: flex;
    margin: 1%;
    column-gap: 8px
}
.navbaritems li a{
    display: block;
    padding: 15px 20px;
    color: aliceblue;
    text-decoration: none;
    
}
.logo-nav{
    height: 80%;
    overflow: hidden;
    margin-left: 1em;
}

p {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f9f9f9;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: #c4b4c6;
    background-color: #440e48cf;
    display: inline;
    padding: 10px;
    border-radius: 50%;
}
.catprod{
    text-align: center;   
    margin-top: 20px; 
    
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #390e8c;
    border: 1px solid lightslategray;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

table {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #aeecf5;
    border: 1px solid lightslategray;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    border-color: #390e8c;
}
.tablalistado{
    margin-top: 5%;
    
}
th{
    padding-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 5px;
}
.icoagregar{
    width: 35px;
    height: 35px;
    margin-top: 3px;
    margin-left: 3px;
}
.icolist{
    width: 35px;
    height: 35px;
    margin-top: 3px;
    margin-left: 2px;
}
.icomod{
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-left: 3px;
}
.icodel{
    width: 30px;
    height: 30px;
    margin-top: 2%;
    margin-left: 3px;
}
#app{
    margin-top: 30px;
}
input[type="text"],
input[type="number"],
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px;
    background-color:#125e0b;
    color: #1d1a39;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #1ef528;
}

button {
    padding: 8px;
    margin:4px;
    background-color: #125e0b;
    color: #1d1a39;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1ef528;
}

a {
    padding: 8px;
    margin: 4px;
    background-color: #125e0b;
    color: #1d1a39;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 100%;
    font-weight: 800;
}

a:hover {
    background-color: #1d1a39;
    color:#1ef528
}
